table {
    background-color:#000000;
    border: 2px solid #000000;
    width: 500px;
    height: 550px;
     margin: auto;
}
.cet{
    background-color:#83ebe7;
}
.ncet{
    background-color:#b3de85;
}
.header {
    background-color:#d66d80;
     height: 100px;
   font-size: 40px;

}
.nav {
    background-color:#f7d0d7;
    width: 960px;
    text-align: center;
    margin: auto;
}
.footer {
     background-color:#d66d80;
     height: 70px;
    font-size: 40px;
}
.logo {
width:80px;
float:left;
margin:10px;
}


